<!DOCTYPE html>
<head>
    <title>To-Do App</title>
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="/public/styles.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <section class = 'tracker-container'>
        <h2>Edit list Item</h2>
        <section class="trackerInfo">
            <ul class="tracker-list">
                <% foodChoice.forEach(food => {%>
                    <% if( food._id == idfood){ %>
                        <li class="tracker-list-item">
                            <form action="/edit/<%= food._id %>" method="POST">
                                <input type="text" value="<%= food.title %>" name="title">
                                <input type="text" value="<%= food.date %>" name="date">
                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %> 
                                <li class="tracker-list-item">
                                    <div class="tracker-list-item-title">
                                        <%= food.title %>: <%= food.date %>
                                    </div>
                                    <a href="/edit/<%= food._id %>" class="edit"><span class="fas fa-edit"></span></a>
                                    <a href="/edit/remove/<%= food._id %>" class="remove"><span class="fas fa-trash"></span></a>
                                </li>
                                <% } %>
                                     <% }) %>
                </ul>
        </section>
    </section>
</body>